.copy-text.span8.offset2.light-background.left-right-border
  .span6
    Just use your left and right arrow keys on your keyboard or click the big arrows above.
    Try not to spend your whole day here wasting your time looking through all the random images
    you want.
  .span6
    You can find all kinds of random images here. Funny, weird, quirky and just about any kind of images you can imagine. Enjoy!
