.row-fluid
  %p.span10
    %small
      Just use your left and right arrow keys on your keyboard or click the big arrows above. Try not to spend your whole day here wasting your time looking through all the random images you want. You can find all kinds of random images here. Funny, weird, quirky and just about any kind of images you can imagine. Enjoy!
.row-fluid
  %p.span10
    %small
      Disclaimer: All images on this site are from an external source. Images may or may not have questionable content.
.row-fluid
  %p.span10
    %small
      Powered by ads so that so I can save up and buy
      = link_to "this.", "http://www.thisiswhyimbroke.com/personal-jetpack"