.container-fluid.span10
  .row-fluid
    %h3.span8
      Just use your left and right arrow keys on your keyboard or click the big arrows above.
      Try not to spend your whole day here wasting your time looking through all the random images
      you want. Funny, weird, quirky and just about any kind of images you can imagine.

    %h4.span2
      Enjoy!
