= render 'shared/header'
.row-fluid
  .span6.offset4.arrows-container
    = render 'arrows'
.row-fluid
  .span10.offset1
    .text-center
      .spinner
        = image_tag 'spinner.gif'
      %img.hero.img-polaroid{ src: @image_url }
.row-fluid
  .span10.offset2.margin-top
    = render 'copy_text'