= render 'shared/header'
.row-fluid
  .span6.offset4.arrows-container
    = render 'arrows'
.row-fluid
  .span1.adsense-container
    =render 'adsense'

  .span7
    .text-center
      .spinner
        = image_tag 'spinner.gif'
      %img.hero.img-polaroid{ src: @image_url }

  .span1.adsense-container
    =render 'adsense'
.row-fluid
  .span11.offset1.margin-top
    = render 'copy_text'