.container-fluid.padding-top.top-nav
  .row-fluid.span12
    %h1.span4.pacifico.extra-large.header-text
      Randum Image
    %p.span4.top-copy
      Your source for the funny, weird, and quirky.
    .span3.add-this-container
      = render 'add_this'
.container-fluid.offset1
  = render 'arrows'
  .row-fluid
    .span8.text-center
      .spinner
        = image_tag 'spinner.gif'
      %img.hero.img-polaroid{ src: @image_url }
= render 'copy_text'