.row-fluid
  .span11.padding-top.top-nav.offset1
    %h1.span4.pacifico.extra-large.header-text
      Randum Image
    %p.span4.top-copy.hidden-phone
      Your source for the funny, weird, and quirky.
    .span3.add-this-container
      = render 'add_this'