/*
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
*/
.spinner{
	display: none;
}

.hero{
  max-width: 800px;
}
.margin-bottom{
  margin-bottom: 30px;
}
.margin-top{
  margin-top: 30px;
}
