/*
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
*/


body {
  background-color: #EDEDED !important;
  font-family: 'Helvetica';
}

h1.extra-large {
  font-size: 45px;
}

.header-text{
  width: 305px !important;
}
.top-copy{
  margin-left: 0px !important;
  margin-top: 35px;
}

.spinner{
	display: none;
}

.pacifico {
  font-family: "Pacifico";
}

.horizontal-divider{
  background-color: black;
}
.add-this-container{
  margin-top: 20px;
}
.hero{
  max-width: 800px;
}
img.hero {
  max-width: 100%;
}
.image-container {
  min-height: 650px !important;
}

.margin-bottom{
  margin-bottom: 30px;
}
.margin-top{
  margin-top: 10px;
}
.padding-top{
  padding-top: 10px;
}
.light-background {
  background-color: #EDEDED;
}
.no-padding {
  padding: 0 !important;
}

.copy-text {
  text-align: left;
}

.copy-text div{
  padding: 10px;
}

.go-left,.go-right{
  background-color: #555555;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.go-left:hover,.go-right:hover{
  background-color: black;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #EDEDED;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #EDEDED;
}

.arrows-container{
  margin-bottom: 5px;
}

.adsense-small-skyscraper{
  margin-top: 130px;
}

.padding-left{
  padding-left: 15px !important;
}
.padding-right{
  padding-right: 15px !important;
}

.adsense-container{
  width: 170px !important;
}
